<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioWebSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50685/ServicioWeb.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServicioWebSoap" contract="WSConsumo.ServicioWebSoap"
                name="ServicioWebSoap" />
        </client>
    </system.serviceModel>
</configuration>